.Home {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--img {
        width: 40%;
        margin: 2rem 0;
    }

    &--title {
        font-size: 2.4rem;
    }

    &--desc {
        font-size: 1.8rem;
    }

    &--returning {
        font-size: 2rem;
    }

    &--cta {
        display: flex;
        margin-top: 1rem;

        &--button {
            text-decoration: none;
            color: #ffffff;
            font-size: 1.2rem;
            font-weight: bold;
            padding: 0.5rem 1rem;
            margin-left: 0.5rem;
            border-radius: 4px;
            background-color: hsl(246, 43%, 48%);
        }
    }
}
