.Navbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #ffffff;
    border-bottom: 3px solid #b8b8b8;

    &--logo {
        font-size: 1.6rem;
        text-decoration: none;
        color: #000000;
        letter-spacing: 1px;
    }

    &--nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &--link {
            font-size: 1.2rem;
            color: hsl(246, 43%, 48%);
            margin-left: 2rem;
            text-decoration: none;

            &:hover {
                color: hsl(246, 43%, 38%);
            }

            &.active {
                font-weight: bold;
            }
        }
    }
}

.logout {
    border: none;
    background: transparent;
}
